@CHARSET "UTF-8";

::-webkit-scrollbar {
    height: 16px;
    overflow: visible;
    width: 16px;
}
::-webkit-scrollbar-button {
    height: 0;
    width: 0;
}
::-webkit-scrollbar-track {
    background-clip: padding-box;
    border: solid transparent;
    border-width: 0 0 0 4px;
}
::-webkit-scrollbar-track:horizontal {
    border-width: 4px 0 0
}
::-webkit-scrollbar-track:hover {
    background-color: rgba(0,0,0,.05);
    box-shadow: inset 1px 0 0 rgba(0,0,0,.1);
}
::-webkit-scrollbar-track:horizontal:hover {
    box-shadow: inset 0 1px 0 rgba(0,0,0,.1)
}
::-webkit-scrollbar-track:active {
    background-color: rgba(0,0,0,.05);
    box-shadow: inset 1px 0 0 rgba(0,0,0,.14),inset -1px 0 0 rgba(0,0,0,.07);
}
::-webkit-scrollbar-track:horizontal:active {
    box-shadow: inset 0 1px 0 rgba(0,0,0,.14),inset 0 -1px 0 rgba(0,0,0,.07)
}
::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,.2);
    background-clip: padding-box;
    border: solid transparent;
    border-width: 1px 1px 1px 6px;
    min-height: 28px;
    padding: 100px 0 0;
    box-shadow: inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07);
}
::-webkit-scrollbar-thumb:horizontal {
    border-width: 6px 1px 1px;
    padding: 0 0 0 100px;
    box-shadow: inset 1px 1px 0 rgba(0,0,0,.1),inset -1px 0 0 rgba(0,0,0,.07);
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0,0,0,.4);
    box-shadow: inset 1px 1px 1px rgba(0,0,0,.25);
}
::-webkit-scrollbar-thumb:active {
    background-color: rgba(0,0,0,0.5);
    box-shadow: inset 1px 1px 3px rgba(0,0,0,0.35);
}
::-webkit-scrollbar-corner {
    background: transparent
}
body::-webkit-scrollbar-track-piece {
    background-clip: padding-box;
    background-color: #f5f5f5;
    border: solid #fff;
    border-width: 0 0 0 3px;
    box-shadow: inset 1px 0 0 rgba(0,0,0,.14),inset -1px 0 0 rgba(0,0,0,.07);
}
body::-webkit-scrollbar-track-piece:horizontal {
    border-width: 3px 0 0;
    box-shadow: inset 0 1px 0 rgba(0,0,0,.14),inset 0 -1px 0 rgba(0,0,0,.07);
}
body::-webkit-scrollbar-thumb {
    border-width: 1px 1px 1px 5px
}
body::-webkit-scrollbar-thumb:horizontal {
    border-width: 5px 1px 1px
}
body::-webkit-scrollbar-corner {
    background-clip: padding-box;
    background-color: #f5f5f5;
    border: solid #fff;
    border-width: 3px 0 0 3px;
    box-shadow: inset 1px 1px 0 rgba(0,0,0,.14);
}

.table.table-borderless td, .table.table-borderless th {
    border: 0 !important;
    padding: 4px;
}

.table.table-borderless {
    margin-bottom: 0px;
}
.optionList th h5 {
	vertical-align: middle;
	color: #bd8942;
	font-weight: 600;
}
.optionList td input {
	display: none;
}

.optionList td input+label {
	display: inline-block;
	border-radius: 6px;
	background: #ffffff;
	margin-right: 3px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	cursor: pointer;
	color: #d29949;
}

.optionList td label {
	font-weight: 400;
}

.optionList td input[type=checkbox]:checked + label {
	background: #bd8942;
	color: #ffffff;
}

.optionList td input[type=radio]:checked + label {
	background: #bd8942;
	color: #ffffff;
}

.optionList td button {
	display: inline-block;
	border-radius: 6px;
	background: #bd8942;
	color: #ffffff;
	margin-right: 3px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	cursor: pointer;
}

.list_sort_btn {
	border: 0;
	background: #FFFFFF;
	color: #000000;
}

.fdList {
	display: inline-block;
}

.fd_goods {
	display: inline-block;
	float: left;
	width: 285px;
	height: 335px;
	margin: 0px;
	border: 0px solid #c3c3c3;
}

.fd_img {
	margin: 0px auto;
	width: 235px;
	height: 235px;
	border: 0px solid red;
}

.fd_info {
	margin: 0px auto;
	width: 235px;
	height: 90px;
	border: 0px solid yellow;
}

.fd_info_name {
	font-size: 15px;
	color: #535353;
	font-weight: bold;
}

.fd_info_price {
	font-size: 14px;
	color: red;
	font-weight: bold;
}

.pagination li button{
	-webkit-appearance:none;
	color: #000;
	background: #FFF;
	padding: 5px 10px;
	border-radius: 5px;
	border: 1px solid #fff;
}

#firstPage {
  background: url(../images/portfolio/left.png);
  background-repeat: no-repeat;
  text-indent: -999999999px;
  background-position: center top 10px;
  width: 32px;
  height: 36px;
  border: none;
  -webkit-transition: 300ms;
  transition: 300ms;
}

#firstPage:hover{
  background: url(../images/portfolio/left.png);
  background-position: center top -37px;
  background-repeat: no-repeat;
  -webkit-transition: 300ms;
  transition: 300ms;
}

#lastPage {
  background: url(../images/portfolio/right.png);
  background-repeat: no-repeat;
  text-indent: -999999999px;
  background-position: center top 10px;
  width: 32px;
  height: 36px;
  border: none;
  -webkit-transition: 300ms;
  transition: 300ms;
}

#lastPage:hover{
  background: url(../images/portfolio/right.png);
  background-position: center top -37px;
  background-repeat: no-repeat;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.pagination li button:hover,
.pagination .active button,
.pagination .active button:hover,
.pagination .active button:focus{
  background: none;
  border-color: #cc9b59;
  color: #cc9b59;
}
#feedDetailInfo tr td {
	padding: 10px 5px;
}
.feed_detail {
	font-family: 'Nanum Gothic', sans-serif;
}

.feed_title {
	font-size: 24px;
	font-weight: 400;
}

.simpleInfo {
	font-size: 14px;
	font-weight: 200;
	color: #808080;
}

#backList {
	display: inline-block;
	border-radius: 6px;
	background: #bd8942;
	color: #ffffff;
	margin-right: 3px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	cursor: pointer;
}

#myFav {
	display: inline-block;
	border: 1px solid #808080;
	border-radius: 12px;
	background: #FFFFFF;
	color: #808080;
	margin-right: 3px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	cursor: pointer;
}

#myFav:HOVER {
	display: inline-block;
	border-radius: 12px;
	background: #bd8942;
	color: #ffffff;
	margin-right: 3px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	cursor: pointer;
}

.reviewList {
	display: inline-block;
}

#reviewSubmit {
	display: inline-block;
	border-radius: 6px;
	background: #bd8942;
	color: #ffffff;
	margin-left: 5px;
	width: 85px;
	height: 85px;
	line-height: 30px;
	text-align: center;
	cursor: pointer;
}

#cookiePrnt {
	position: absolute;
	top: 200px;
	left: 1350px;
	width: 100px;
	height: 300px;
}

#yellowStar {
	font-weight: 300;
	font-size: 20px;
	color: #fce303;
}
#greyStar {
	font-weight: 300;
	font-size: 20px;
	color:#808080;
}

#PgUp, #PgDwn {
	display: inline-block;
	border: 1px solid #808080;
	border-radius: 6px;
	background: #FFFFFF;
	color: #808080;
	margin-right: 3px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	cursor: pointer;
}

