<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.hospital-mapper">
<select id="hospitalGetLoc" resultType="String" parameterType="String">
		SELECT DISTINCT SUBSTR(SUBSTR(loc,7),0,INSTR(loc,' ')-3) FROM hospital
</select>

<select id="hospitalSearch" resultType="HospitalVO" parameterType="hashmap">
    SELECT no,name,loc,tel,num
	FROM (SELECT no,name,loc,tel,rownum as num
	FROM hospital
	WHERE loc LIKE '%'||#{loc}||'%' AND name LIKE '%'||#{name}||'%')  
	WHERE num BETWEEN #{start} AND #{end}
	ORDER BY no  
</select>

<select id="hospitalTotalResult" resultType="int" parameterType="hashmap">
	 SELECT COUNT(*) 
	 FROM hospital
	 WHERE loc LIKE '%'||#{loc}||'%' AND name LIKE '%'||#{name}||'%'
</select>

<select id="hospitalName" resultType="String" parameterType="int">
	SELECT name
	FROM hospital
	WHERE no = #{no}
</select>

<select id="hospitalReserveDate" resultType="String" parameterType="int">
    SELECT dateno 
    FROM hospital
    WHERE no=#{no}
  </select>
  
<select id="reserveGetTime" resultType="String" parameterType="int">
   SELECT timeno 
   FROM dateInfo
   WHERE dno=#{dno}
</select>

<select id="reserveTime" resultType="String" parameterType="int">
      SELECT time
      FROM timeInfo
      WHERE timeno=#{timeno}
</select>

<select id="memberId" resultType="String" parameterType="String">
		SELECT name
		FROM member
		WHERE id=#{id}
</select>

<select id="reserveDog" resultType="DogVO" parameterType="String">
		SELECT dno,dname, dtype, TO_CHAR(dbirth, 'YYYY-MM-DD') as dbirth,dsex
		FROM dog
		WHERE id=#{id}
</select>

<insert id="reserveOk" parameterType="ReserveVO">
	INSERT INTO reserve(no,reserve_date,reserve_time,symptom,state,dogno,hosno) VALUES(
			reserve_no_seq.nextval,
			#{reserve_date},
			#{reserve_time},
			#{symptom},
			#{state},
			#{dogno},
			#{hosno}
		)
</insert>

<select id="reserveDogname" resultType="String" parameterType="String">
SELECT dname FROM dog WHERE id = #{id}
</select>

<select id="reserveDetail" resultType="Reserve_DetailVO" parameterType="hashmap">
SELECT no, reception_date, name, dname, reserve_date, reserve_time, state, hosname, num
FROM (
	SELECT no, reception_date, name, dname, reserve_date, reserve_time, state, hosname, rownum as num
	FROM(
		SELECT no,
		TO_CHAR(reception_date, 'YYYY-MM-DD') as reception_date,
		(SELECT name FROM member WHERE id = (SELECT id FROM dog WHERE dno = dogno)) as name,
		(SELECT dname FROM dog WHERE dno = dogno) as dname,
		reserve_date,
		reserve_time,
		state,
		(SELECT name FROM hospital WHERE no = hosno) as hosname
		FROM reserve
		WHERE dogno = (SELECT dno FROM dog WHERE dname = #{dogname}) AND 
		reception_date BETWEEN TO_DATE(#{startDate},'YYYY-MM-DD') 
		AND TO_DATE(#{endDate}, 'YYYY-MM-DD') + 0.99999
	)
)
WHERE num BETWEEN #{start} AND #{end}

</select>

<select id="reserveDetailAllCnt" resultType="int" parameterType="hashmap" >
SELECT COUNT(*) 
FROM (SELECT no
FROM reserve
WHERE dogno = (SELECT dno FROM dog WHERE dname = #{dogname}) AND 
reception_date BETWEEN TO_DATE(#{startDate},'YYYY-MM-DD') 
AND TO_DATE(#{endDate}, 'YYYY-MM-DD') + 0.99999
)
</select>
<select id="reserveDetailTotalPage" resultType="int" parameterType="hashmap" >
SELECT CEIL(COUNT(*)/5.0)  
FROM (SELECT no
FROM reserve
WHERE dogno = (SELECT dno FROM dog WHERE dname = #{dogname}) AND 
reception_date BETWEEN TO_DATE(#{startDate},'YYYY-MM-DD') 
AND TO_DATE(#{endDate}, 'YYYY-MM-DD') + 0.99999
)
</select>
</mapper>